/* intuitivnejsi box-sizing */
html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

body {
	font-family: sans-serif;
}

/* ---------------------------------------------------- */

/* můj pokus */

/* .kalendar {
	display: grid;
	grid-template-columns: repeat(7, 50px);
	grid-template-rows: repeat(6, 50px);
	gap: 5px;
}

.zahlavi {
	background-color: red;
	text-align: center;
	color: white;
}

li {
	border: 1px solid black;
	list-style-type: none;
	text-align: center;
}

.predchozi,
.nasledujici {
	background-color: grey;
	color: rgb(34, 32, 32);
	border: 1px solid grey;
}

h1 {
	padding-left: 40px;
} */


/* dle Luďka Rolečka */

.kalendar {
	display: grid;
	list-style: none;
	grid-template-columns: repeat(7, 50px);
	grid-template-rows: repeat(6, 50px);
	gap: 3px;
}

.kalendar li {
	border: 1px solid silver;
	text-align: center;
	line-height: 48px;
}

.zahlavi {
	background-color: tomato;
	color: white;
}

.predchozi,
.nasledujici {
	background-color: silver;
	color: grey;
}
