/* intuitivnejsi box-sizing */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

body {
	font: 16px/1.5 sans-serif;
}

/*************************************************/

/*
CSS Selektory:

::first-letter			první písmeno
::first-line				první řádek

::before						uvnitř prvku, před obsahem
::after							uvnitř prvku, za obsahem
*/

/* p::first-letter {
	color: red;
	font-size: 35px;
	font-weight: bold;
	float: left;
	margin-right: 15px;
}

p::first-line {
	color: grey;
	font-size: 160%;
	font-style: italic;
} */


h2::before {
	content: "";
	display: inline-block;
	background-color: red;
	width: 20px;
	height: 20px;
	border-radius: 50%;
}

h2::after {
	background-color: olive;
	content: "yyy";
}

