/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

body {
	font-family: sans-serif;
}

.sloupec {
	padding: 20px;
}

.hlavicka	{ background-color: #2ecc71; }
.obsah		{ background-color: #f1c40f; }
.menu			{ background-color: #3498db; }
.reklama1	{ background-color: #e74c3c; }
.reklama2	{ background-color: #12cbC4; }
.paticka	{ background-color: #9b59b6; }

/* ---------------------------------------------------- */

.hlavicka {
	grid-area: hlavicka;
}

.obsah {
	grid-area: obsah;
}

.menu {
	grid-area: menu;
}

.cesky1 {
	grid-area: cesky1;
}

.cesky2 {
	grid-area: cesky2;
}

.paticka {
	grid-area: paticka;
}

.kontejner {
	display: grid;
	gap: 20px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 200px repeat(3, auto) 100px;
	grid-template-areas: 
	"hlavicka hlavicka" 
	"obsah obsah"
	"menu menu" 
	"cesky1 cesky2" 
	"paticka paticka";
	
}

@media screen and (min-width: 760px) {
	
	
	.kontejner {
		display: grid;
		gap: 20px;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 200px auto auto 100px;
		grid-template-areas: 
		"hlavicka hlavicka hlavicka" 
		"menu obsah obsah"
		"menu cesky1 cesky2" 
		"paticka  paticka";
	}
	
}


@media screen and (min-width: 1000px) {
	
	.kontejner {
		display: grid;
		grid-template-columns: 200px 1fr 250px;
		grid-template-rows: 200px auto auto 100px;
		grid-template-areas: 
		"hlavicka hlavicka hlavicka" 
		"menu obsah cesky1" 
		"menu obsah cesky2" 
		"paticka paticka paticka";
		gap: 20px;
	}


}

